<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/nav.css" th:fragment="nav-css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation" th:fragment="nav">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="imgs/Logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="ShopHubNav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="ShopHubNav" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Dashboard</a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" th:inline="text">
                    [['Hi ' + ${loggedInUser.getUserFirstName()} + '!']]
                    <div class="nav_profile_img" th:style="'background-image: url(\''+${loggedInUser.getUserProfilePicture()}+'\')'"></div>
                </a>

                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="/settings">
                        <span class="icon mr-2"><i class="fas fa-cog"></i></span>
                        Settings
                    </a>
                    <a class="navbar-item" href="/businessRegister">
                        <span class="icon mr-2"><i class="fas fa-briefcase"></i></span>
                        Business
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="/log_out">
                        <span class="icon mr-2"><i class="fas fa-sign-out-alt"></i></span>
                        Log Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>