<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="rewards">
<h1 class="title">Shop Rewards</h1>
<div class="container1 mb-5">
    <div class="multi-page-container" id="stampboardContainer">
        <th:block th:each="i: ${#numbers.sequence(1, stampBoard.stampBoardSize)}">
            <th:block th:if="${i%8==1}" th:utext="'&lt;div class=&#34;stampBoard&#34; id=&#34;'+ ${@thymeMath.ceil(i,8)} +
							'&#34; style=&#34;display:none;background-color:'+${stampBoard.stampBoardColour}+';&#34;&gt;'"/>
            <th:block th:unless="${i==1}">
                <div class="stamp" th:text="${i}" th:unless="${#lists.contains(@thymeMath.reduceToLocs(stampBoard.rewards), i)}"></div>
                <div class="stamp" th:if="${#lists.contains(@thymeMath.reduceToLocs(stampBoard.rewards), i)}">
                    <i class="fa fa-gift"></i>
                </div>
            </th:block>
            <th:block th:if="${i==1}">
                <img class="stamp" th:src="'imgs/' + ${stampBoard.stampBoardIcon}">
            </th:block>
            <th:block th:if="${i%8==0 || i==stampBoard.stampBoardSize}" th:utext="'&lt;/div&gt;'"/>
        </th:block>
    </div>
    <div class="stampNavBar">
        <div class="stampNavButton" onclick="pageNav(-1)"><i class="fas fa-angle-left"></i></div>
        <div class="stampNavButton" onclick="pageNav(1)" ><i class="fas fa-angle-right"></i></div>
    </div>
</div>
<h2 class="title is-3 secondary">Stamp Positions</h2>
    <th:block th:each="i: ${#numbers.sequence(1, stampBoard.stampBoardSize)}">
        <div class="is-flex is-flex-direction-row is-align-items-center mb-2">
            <p class="mr-2" th:text="${i} + ' -'" style="width: 30px;"></p>
            <span class="control stamp-position-input">
                <input type="text" class="input" placeholder="No reward">
            </span>
        </div>
    </th:block>
</body>
</html>