.business_container{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 320px;
    padding: 0;
    margin: 20px;
    min-height: 226px;
}

.business_container .image{
    width: 100%;
    height: 80px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: saddlebrown;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.business_container .content{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}