.is-full-width{
    width: 100%;
}

.horiz_scroll{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.horiz_scroll > *{
    display: inline-flex;
}

i.fas{
    color: gray;
}

.gradient{
    background: rgb(1,126,255);
    background: linear-gradient(90deg, rgba(1,126,255,1) 0%, rgba(0,76,255,1) 100%);
    color: white!important;
}

.gradient i{
    color: white!important;
}