.emailInputContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.staffManagementContainer{
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.staffManagementContainer:last-child{
    border-bottom: none!important;
}
