nav{
    background: rgb(1,126,255);
    background: linear-gradient(90deg, rgba(1,126,255,1) 0%, rgba(0,76,255,1) 100%);
}

.nav_profile_img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 100px;
}

.navbar-link,.navbar-start>.navbar-item{
    color: white;
}

.navbar-link::after{
    border-color: white!important;
}

.navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover {
    background-color: transparent;
    color: #fffbebBB;
}

@media screen and (min-width: 1024px) {
    .navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
        background-color: transparent;
    }
}

