.reward_card{
    border-radius: 20px;
    background-color: #e3e3e3;
    width: 360px;
    display: inline-flex;
    flex-direction: row;
    margin-right: 20px;
}

.reward_card_content{
    height: 100%;
    width: 70%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
}

.reward_card_img{
    display: flex;
    flex: 1;
    width: 30%;
    background-color: red;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}