.reward_card{
    border-radius: 20px;
    background-color: #e3e3e3;
    width: 360px;
    display: inline-flex;
    flex-direction: row;
    margin-right: 20px;
    min-height: 198px;
}

.hidden{
    display:none;
}

.reward_card.hidden{
    display: none;
}

.reward_card_content{
    height: 100%;
    width: 70%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reward_card_img{
    display: flex;
    flex: 1;
    width: 30%;
    background-color: red;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.starContainer .fas.fa-star{
    transform: scale(0);
}

.starContainer.active .fas.fa-star{
    transform: scale(1);
}

.starContainer{
    cursor:pointer;
}

.favouriteStar{
    color:gold;
    top:2px;
    right:2px;
    position:absolute;
    transition: transform 200ms;
}

.favouriteStar i{
    color:gold;
    transition: transform 200ms;
}