.wholeSocialContainer{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.socialContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.urlHolder{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}