<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ShopHub | Account Login</title>
        <link th:replace="fragments/libs.html :: bulma"/>
        <link th:replace="fragments/libs.html :: fa"/>
        <link th:replace="fragments/nav.html :: nav-css"/>
        <link rel="stylesheet" type="text/css" href="css/signIn.css">
    </head>

    <body>
        <div class="flex-container">
            <div class="signUpPart" style="flex-grow: 2;">
                <img style="position: absolute; top: 45px" src="imgs/Logo.png" width="112" height="28" class="logo">
                <h2>Welcome!</h2>
                <h3 class="special-text">New Member of <br>ShopHub?</h3>
                    <button class="button is-rounded signUp-Button">Sign Up</button>
            </div>

            <div class="vert-flex-container" style="flex-grow: 5;">
                <h1 class="has-text-weight-bold">Start collecting rewards <br>today!</h1>
                <form th:action="@{/login}" th:method="post" th:object="${loginForm}">
                    <div>
                        <div class="flex-container name-box-container">
                            <label th:for="loginEmail">Email:</label>
                            <div class="flex-container name-box-container">
                                <p class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Email" th:field="*{loginEmail}"/>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="alert alert-warning" th:if="${incorrectEmail}">Email Incorrect</div>
                            <div class="alert alert-warning" th:errors="*{loginEmail}" th:if="${#fields.hasErrors('loginEmail')}">Email Error</div>
                        </div>

                        <br>

                        <div class="flex-container name-box-container">
                            <label th:for="loginPassword">Password:  </label>
                            <div class="flex-container name-box-container">
                                <p class="control has-icons-left">
                                    <input class="input" type="text" placeholder="Password" th:field="*{loginPassword}"/>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </p>
                            </div>
                            <div class="alert alert-warning" th:if="${incorrectPassword}">Password Incorrect</div>
                            <div class="alert alert-warning" th:errors="*{loginPassword}" th:if="${#fields.hasErrors('loginPassword')}">Password Error</div>
                        </div>
                    </div>
                    <button type="submit" class="button is-rounded signIn-Button">Sign In</button>
                </form>
            </div>
        </div>
    </body>
</html>