<!DOCTYPE html>
<html>
<head>
	<title>ShopHub | Dashboard</title>
	<link th:replace="fragments/libs.html :: bulma"/>
	<link th:replace="fragments/libs.html :: fa"/>
	<link th:replace="fragments/nav.html :: nav-css"/>	<link rel="stylesheet" href="/css/admin.css">

	<script type="text/javascript" src="/js/admin.js"></script>
	<link rel="stylesheet" href="/static/css/admin.css">
</head>
<body onload="document.getElementById('1').style.display = 'flex'">
	<div th:replace="fragments/nav.html :: nav"></div>
	<div id="adminPage">
		<div class="sidebar" th:if="${highestPerm > 1}">
			<div class="admin-tab active" onclick="toggle_tab('profile')" id="profile-tab">
				<div class="baseIcon">
					<i class="fas fa-user fa-lg"></i>
				</div>
				<p>Profile</p>
			</div>
			<div class="admin-tab" onclick="toggle_tab('shop-settings')" id="shop-settings-tab">
				<div class="baseIcon">
					<i class="fas fa-shopping-basket fa-lg"></i>
				</div>
				<p>Shop Settings</p>
			</div>
			<div class="admin-tab" onclick="toggle_tab('shop-rewards')" id="shop-rewards-tab">
				<div class="baseIcon">
					<i class="fas fa-star fa-lg"></i>
				</div>
				<p>Shop Rewards</p>
			</div>
		</div>
		<main th:if="${highestPerm > 1}">
			<section id="profile-section" class="admin-section active">
				<div th:replace="fragments/user_settings.html :: settings_page"/>
			</section>

			<section id="shop-settings-section" class="admin-section">
				<h1 class="title">Shop Settings</h1>
				<p th:text="${stampBoard}"></p>

				<div class="container1">
					<div class="multi-page-container">
						<th:block th:each="i: ${#numbers.sequence(1, stampBoard.stampBoardSize)}">
							<th:block th:if="${i%8==1}" th:utext="'&lt;div class=&#34;stampBoard&#34; id=&#34;'+ ${@thymeMath.ceil(i,8)} +
							'&#34; style=&#34;display:none;background-color:'+${stampBoard.stampBoardColour}+';&#34;&gt;'"/>
								<div class="stamp" th:text="${i}" th:unless="${#lists.contains(@thymeMath.reduceToLocs(stampBoard.rewards), i)}"></div>
								<div class="stamp" th:if="${#lists.contains(@thymeMath.reduceToLocs(stampBoard.rewards), i)}">
									<i class="fa fa-gift"></i>
								</div>
							<th:block th:if="${i%8==0 || i==stampBoard.stampBoardSize}" th:utext="'&lt;/div&gt;'"/>
						</th:block>
					</div>
					<div class="stampNavBar">
						<div class="stampNavButton" onclick="pageNav(-1)"><i class="fas fa-angle-left"></i></div>
						<div class="stampNavButton" onclick="pageNav(1)" ><i class="fas fa-angle-right"></i></div>
					</div>
				</div>
			</section>

			<section id="shop-rewards-section" class="admin-section">
				<h1 class="title">Shop Rewards</h1>
			</section>
		</main>
		<main th:unless="${highestPerm > 1}">
			<section class="admin-section active">
				<div th:replace="fragments/user_settings.html :: settings_page"/>
			</section>
		</main>
	</div>
</body>
</html>
