<html lang="en" style="
    height: 100vh;
"><head>
    <meta charset="UTF-8">
    <title>Something went wrong</title>
    <link th:replace="fragments/libs.html :: bulma"/>
    <link th:replace="fragments/libs.html :: fa"/></head>
<body>
<div class="is-flex is-justify-content-center is-align-items-center" style="text-align: center;min-height: 100vh;">
    <h1 class="title is-1 mb-6" style="max-width:75%;">
        Whoops! It looks like something went wrong! Click below
        to return to the
        <a href="/">dashboard</a>
    </h1>
</div>


</body></html>