<!DOCTYPE html>
<html>
<head>
	<title>ShopHub | Dashboard</title>
	<link th:replace="fragments/libs.html :: bulma"/>
	<link th:replace="fragments/libs.html :: fa"/>
	<link th:replace="fragments/nav.html :: nav-css"/>
	<link rel="stylesheet" href="/css/index.css">
	<link rel="stylesheet" href="/css/reward_card.css">
	<link rel="stylesheet" href="/css/business_container.css">
</head>
<body>
	<div th:replace="fragments/nav.html :: nav"></div>
	<div class="my_rewards_container section">
		<div class="container">
			<div class="rewards_container_top level">
				<div class="level-left">
					<h1 class="title is-2">My rewards</h1>
				</div>
				<div class="level-right">
					<div class="control has-icons-left">
						<input class="input" type="text" placeholder="Search">
						<span class="icon is-small is-left">
							<i class="fas fa-search"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="horiz_scroll is-full-width mb-1">
				<div class="reward_card">
					<div class="reward_card_content">
						<h1 class="title is-4 mb-1">Coca Cola</h1>
						<p class="mb-1">You have 12 stamps!</p>
						<progress class="progress mb-1" value="15" max="100"></progress>
						<p class="mb-2">3 to next reward</p>
						<div class="is-full-width" style="display:flex;justify-content: space-between;align-items: center">
							<div class="level-left">
								<span class="icon is-small is-left ml-1 mr-1">
									<i class="fas fa-gift"></i>
								</span>
								<p>1/4</p>
							</div>
							<div class="level-right">
								<button class="button is-rounded">
									Explore
									<span class="icon is-small is-left ml-1">
										<i class="fas fa-arrow-right"></i>
									</span>
								</button>
							</div>
						</div>
					</div>
					<div class="reward_card_img" style="background-image: url('imgs/coke.jpg')"></div>
				</div>
			</div>

			<a href="/">See All ></a>
		</div>
	</div>
	<div class="search_bar section">
		<div class="container is-full-width is-flex is-justify-content-center is-align-items-center is-flex-direction-column mb-4">
			<h1 class="title is-3">Where else can I earn rewards?</h1>
			<div class="control has-icons-left mb-2" style="width: 60%;">
				<input class="input" type="text" placeholder="Enter Brands or keywords e.g. Vegan, Clothing etc..">
				<span class="icon is-small is-left">
					<i class="fas fa-search"></i>
				</span>
			</div>
			<div class="field is-grouped is-grouped-multiline" style="width: 60%;">
				<div class="control">
					<div class="tags has-addons">
						<span class="tag gradient">Alex Smith</span>
						<a class="tag is-delete"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="container is-full-width is-flex is-justify-content-center is-align-items-center is-flex-wrap-wrap">
			<div class="business_container box">
				<div class="image" style="background-image: url('imgs/coffee.jpg')"></div>
				<div class="content">
					<h1 class="title is-4 mb-1">Cafe Nero</h1>
					<p class="mb-1">Free coffee at 6 stamps</p>
					<div class="is-full-width" style="display:flex;justify-content: space-between;align-items: center">
						<div class="level-left">
								<span class="icon is-small is-left ml-1 mr-1">
									<i class="fas fa-gift"></i>
								</span>
							<p>6</p>
						</div>
						<div class="level-right">
							<button class="button is-rounded gradient">
								View Shop
								<span class="icon is-small is-left ml-1">
										<i class="fas fa-arrow-right"></i>
									</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>