<!DOCTYPE html>
<html lang="en">
<head>
    <title>ShopHub | Register business</title>
    <link th:replace="fragments/libs.html :: bulma"/>
    <link th:replace="fragments/libs.html :: fa"/>
    <link th:replace="fragments/nav.html :: nav-css"/>
    <link rel="stylesheet" href="/css/registerbusiness.css">
    <script src="/js/registerbusiness.js"></script>
</head>
<body>
    <div th:replace="fragments/nav.html :: nav"></div>
    <div class="noBusinessHolder">
        <h1 class="title is-1 mb-6">Whoops? It looks like you aren't part of any businesses.</h1>
        <button class="button is-link is-rounded gradient"
                onclick="document.getElementById('modal').classList.add('is-active')">
            Register A Business
        </button>
    </div>
    <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card" style="width:40%">
            <header class="modal-card-head modal-header">
                <p class="modal-card-title" id="modal-title">Register a business 1/5</p>
                <button class="delete" aria-label="close"
                        onclick="closeModal();"></button>
            </header>
            <div id="progressBar" class="progressBar">
                <div style="width:20%"></div>
            </div>
            <form onkeydown="keyPress(event)" name="businessForm" id="businessForm" action="/businessRegister" th:method="post" onsubmit="return false">
            <section class="modal-card-body url-centering" id="modal_container">
                    <div id="modal_page1" class="modal_page">
                        <h5 class="title is-5" style="text-align:center">Enter your shop URL</h5>
                        <div>
                            <div class="field has-addons" style="display: flex;justify-content: center">
                                <p class="control">
                                    <span class="select">
                                      <select id="business_register_url_prefix">
                                        <option>https://</option>
                                        <option>http://</option>
                                      </select>
                                    </span>
                                </p>
                                <p class="control">
                                    <input class="input" type="text" name="business_register_url" placeholder="Business URL" style="width:100%; align-content:center"
                                           id="business_register_url">
                                </p>
                            </div>
                            <p class="help is-danger" id="business_register_url_help" style="text-align: center"></p>
                        </div>
                    </div>
                    <div id="modal_page2" class="modal_page">
                        <h5 class="title is-5" style="text-align:center">Shop Name</h5>
                        <p class="control has-icons-left" style="min-width:50%; width:70%; margin:auto">
                            <input class="input" style="width:100%; align-content:center" id="business_register_name" name="business_register_name">
                            <span class="icon is-small is-left">
                                <i class="fas fa-store"></i>
                            </span>
                            <p class="is-danger help" style="text-align: center" id="business_register_name_help"></p>
                        </p>
                        <h5 class="title is-5" style="text-align:center; margin-bottom:5%; margin-top:5%">Description</h5>
                        <p class="control has-icons-left" style="min-width:50%; width:70%; margin:auto">
                            <textarea class="textarea" name="business_register_desc" id="business_register_desc" maxlength="250"></textarea>
                        </p>
                        <p class="is-danger help" style="text-align: center" id="business_register_desc_help"></p>
                    </div>
                    <div id="modal_page3" class="modal_page">
                        <h5 class="title is-5" style="text-align:center; margin-bottom: 2%">Choose a category</h5>
                        <div id="categoryContainer">
                            <div class="select">
                                <select name="businessCategory">
                                    <option th:each="category: ${categories}" th:text="${category.categoryName}"></option>
                                </select>
                            </div>
                        </div>
                        <h5 class="title is-5 mt-2" style="text-align:center; margin-bottom: 2%">Add tags that describe your business</h5>
                        <p class="subtitle is-6 mt-1" style="text-align: center">Press comma after typing the tag</p>
                        <div class="is-flex is-justify-content-center">
                            <!-- Need to fix this, shouldn't be full width of modal -->
                            <div class="is-flex is-flex-direction-column is-justify-content-center is-align-content-center"
                            style="width:75%">
                                <input id="businessTagsInput" maxlength="50" class="input" oninput="addTag(event)"></input>
                                <p class="help is-danger" style="text-align: center" id="tagsHelp"></p>
                            </div>
                            <input hidden name="businessTags" id="businessTags"/>

                        </div>
                        <div class = "field is-grouped is-grouped-multiline p-4" id="bulmaTags">
                            <div id="tagCount" style="display: none" class="mr-3">
                                0/20
                            </div>
                        </div>
                        <p class="is-danger help" style="text-align: center" id="business_register_tags_help"></p>
                    </div>
                    <div id="modal_page4" class="modal_page">
                        <h5 class="title is-5" style="text-align:center">Social Media Links</h5>
                        <div id="wholeSocialContainer">
                            <div class="socialContainer">
                                <span class="icon is-large is-left">
                                    <i class="fab fa-instagram"></i>
                                </span>
                                <div class="field has-addons" style="display: flex;justify-content: center">
                                    <p class="control">
                                        <input value="instagram.com/" class="input" disabled>
                                    </p>
                                    <p class="control">
                                        <input class="input" name="instagram" type="text" style="width:100%; align-content:center">
                                    </p>
                                </div>
        <!--                        <input class="input socialInput">-->
                            </div>
                            <div class="socialContainer">
                                <span class="icon is-large is-left">
                                    <i class="fab fa-facebook-f"></i>
                                </span>
                                <div class="field has-addons" style="display: flex;justify-content: center">
                                    <p class="control">
                                        <input value="facebook.com/" class="input" disabled>
                                    </p>
                                    <p class="control">
                                        <input class="input" name="facebook" type="text" style="width:100%; align-content:center">
                                    </p>
                                </div>
        <!--                        <input class="input socialInput">-->
                            </div>
                            <div class="socialContainer">
                                <span class="icon is-large is-left">
                                    <i class="fab fa-twitter"></i>
                                </span>
                                <div class="field has-addons" style="display: flex;justify-content: center">
                                    <p class="control">
                                        <input value="twitter.com/" class="input" disabled>
                                    </p>
                                    <p class="control">
                                        <input class="input" name="twitter" type="text" style="width:100%; align-content:center">
                                    </p>
                                </div>
        <!--                        <input class="input socialInput">-->
                            </div>
                            <div class="socialContainer">
                                <span class="icon is-large is-left">
                                    <i class="fab fa-tiktok"></i>
                                </span>
                                <div class="field has-addons" style="display: flex;justify-content: center">
                                    <p class="control">
                                        <input value="tiktok.com/@" class="input" disabled>
                                    </p>
                                    <p class="control">
                                        <input class="input" name="tiktok" type="text" style="width:100%; align-content:center">
                                    </p>
                                </div>
        <!--                        <input class="input socialInput">-->
                            </div>
                        </div>
                    </div>
                    <div id="modal_page5" class="modal_page">
                        <h5 class="title is-5" style="text-align:center">Average Monthly Sales</h5>
                        <div class="socialContainer">
                            <p class="control has-icons-left" style="min-width:50%; width:70%; margin:auto">
                                <span class="icon is-large is-left">
                                    <i class="fas fa-pound-sign"></i>
                                </span>
                                <input class="input socialInput" id="earnings" name="earnings" style="margin-bottom:5%">
                            </p>
                        </div>
                        <p class="subtitle is-5" style="text-align: center; font-size:10px">
                            We need to know this, so we can accurately start you on the correct pricing tier
                        </p>
                        <p class="is-danger help" style="text-align: center" id="business_register_amount_help"></p>
                    </div>
            </section>
            <footer class="modal-card-foot modal-footer" style="display: flex; justify-content: space-between">
                <button id="nextButton" class="button is-danger" onclick="revert();">Back</button>
                <button id="forwardButton" class="button is-success" onclick="progress();">Next</button>
            </footer>
            </form>
        </div>
    </div>
</body>
</html>