<!DOCTYPE html>
<html lang="en">
<head>
    <title>ShopHub | Register business</title>
    <link th:replace="fragments/libs.html :: bulma"/>
    <link th:replace="fragments/libs.html :: fa"/>
    <link th:replace="fragments/nav.html :: nav-css"/>
    <link rel="stylesheet" href="/css/registerbusiness.css">
</head>
<body>
    <div th:replace="fragments/nav.html :: nav"></div>
    <div class="noBusinessHolder">
        <h1 class="title is-1 mb-6">Whoops? It looks like you aren't part of any businesses.</h1>
        <button class="button is-link is-rounded gradient"
                onclick="document.getElementById('modal').classList.add('is-active')">
            Register A Business
        </button>
    </div>
    <div id="modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card" style="width:40%">
            <header class="modal-card-head modal-header">
                <p class="modal-card-title">Register a business 1/5</p>
                <button class="delete" aria-label="close"
                        onclick="document.getElementById('modal').classList.remove('is-active')"></button>
            </header>
            <section class="modal-card-body url-centering">
                <h5 class="title is-5" style="text-align:center">Enter your shop URL</h5>
                <p class="control has-icons-left" style="min-width:50%; width:70%; margin:auto">
                    <input class="input" type="url" placeholder="Business URL" style="width:100%; align-content:center">
                        <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                    </span>
                </p>
            </section>
            <footer class="modal-card-foot modal-footer">
                <button class="button is-success">Next</button>
            </footer>
        </div>
    </div>
</body>
</html>