<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="css/viewShop.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:replace="fragments/libs.html :: bulma"/>
    <link th:replace="fragments/libs.html :: fa"/>
    <link th:replace="fragments/nav.html :: nav-css"/>
    <title>SAMPLE TEXT</title>
    <!-- replace title with shop name using thymeleaf -->
</head>
<body>
  <div th:replace="fragments/nav.html :: nav"></div>
  <div class="container mainContainer">
    <h1>example business<h1>
  </div>
</body>
